/* This is here to give everything a red border, just to make it easier to see while developing. */
/** {
  box-sizing: border-box;

  border: thin red solid;
}*/
a:link{
	color:white;
	text-decoration: none;
}
a:visited{
	color:white;
	text-decoration: none;
}
.button{
	background-color: #A9E2F3;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 0 gray;
    color:white;
    text-align: center;
    font-size: 18px;
}
/* You can turn it off if you want. (delete or comment it out) */

/* Write your rules below */
