.board{
	border: 4px rgba(20, 118, 110, 1.0) solid;
	margin: 30px auto;
}
.square{
	font-size:50px;
	text-align: center;
	text-shadow:0.5px 0.5px gray;
	color:orange;
	width: 70px;
	height: 70px;
}
.dark_square{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5dfdf+0,5bb9bd+25,2d8975+79,2d8975+79 */
	background: #a5dfdf; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #a5dfdf 0%, #5bb9bd 25%, #2d8975 79%, #2d8975 79%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#a5dfdf), color-stop(25%,#5bb9bd), color-stop(79%,#2d8975), color-stop(79%,#2d8975)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #a5dfdf 0%,#5bb9bd 25%,#2d8975 79%,#2d8975 79%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #a5dfdf 0%,#5bb9bd 25%,#2d8975 79%,#2d8975 79%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #a5dfdf 0%,#5bb9bd 25%,#2d8975 79%,#2d8975 79%); /* IE10+ */
	background: linear-gradient(135deg,  #a5dfdf 0%,#5bb9bd 25%,#2d8975 79%,#2d8975 79%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5dfdf', endColorstr='#2d8975',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/*

Some references you may find useful:

https://developer.mozilla.org/en-US/docs/Web/CSS/background-image#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/border#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/margin#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/color#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/height#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-align#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/width#Syntax
http://www.colorzilla.com/gradient-editor/

Note that I've included the background image for the page in this folder, "grey.png"

Write your CSS rules below.

*/
